.all{
    background-color: #e4edea;
    font-family: montserrat, sans-serif;
    text-transform: capitalize;
    color: #002f3f;
}

.all table{
    font-size: 12px;
}
.navbar{
    background-color: #e4edea;
    top: 10px;
}

.tagline-navbar{
    font-size: smaller;
}

.collapse{
    margin-right: 20px;
}

.card-body .btn .nama-toko-dash{
    font-size: 8px;
    background-color: #e4edea;
}
/* log in css*/

.log-in .login-form{
    border-radius: 10px;
    padding: 50px 60px;
    margin-top: 15vh;
    margin-bottom: 16vh;
    background-color: #002f3f;
    color: #e4edea;
}

.log-in .logol img{
    width: 80px;
    margin-top: -30px;
    margin-bottom: 10px;
}
.log-in #submit-login{
    background-color: #e4edea;
}
.log-in #submit-login:hover{
    background-color: #185adb;
}

.log-in .text-center h2{
    font-weight: 600;
    font-size: 30px;
    margin-top: 50px;
    color: #002f3f;
    text-transform: uppercase;
}

.log-in .text-center h1{
    font-weight: 600;
    color: #e4edea;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.log-in .button-end input{
    background-color: #e4edea;
    color:#002f3f;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 10px;
}
.log-in .button-end a{
    background-color: #e4edea;
    color:#002f3f;
    font-weight: 400;
}
.log-in .btnForgot a{
    color: #e4edea;
    margin-left: 165px;
    
}
.log-in .button-end h4{
    background-color: #002f3f;
    /* text-indent: 30px;
	line-height: 30px;
    border: 120px;
    min-width: 150px;
    max-width: 150px;
    margin-left: 200px; */
    color:#e4edea;
    font-weight: 700;
}
.log-in .btn:hover{
    color: #e4edea;
    background-color: #185adb;
}

/* reset password css*/

.reset .reset-form{
    border-radius: 10px;
    padding: 50px 60px;
    margin-top: 15vh;
    margin-bottom: 16vh;
    background-color: #002f3f;
    color: #e4edea;
}

.reset .logol img{
    width: 80px;
    margin-top: -30px;
    margin-bottom: 10px;
}
.reset #submit-reset{
    background-color: #e4edea;
}
.reset #submit-reset:hover{
    background-color: #cdac81;
}

.reset .text-center h2{
    font-weight: 600;
    font-size: 30px;
    margin-top: 50px;
    color: #002f3f;
    text-transform: uppercase;
}

.reset .text-center h1{
    font-weight: 600;
    font-size : 20px;
    color: #e4edea;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.reset .button-end input{
    background-color: #e4edea;
    color:#002f3f;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 10px;
}
.reset .button-end a{
    background-color: #e4edea;
    color:#002f3f;
    font-weight: 400;
}
.reset .btn:hover{
    background-color: #cdac81;
}

/* register user css */
.register-user .text-center h1{
    font-weight: 600;
    color: #e4edea;
    letter-spacing: 10px;
}

.register-user .username{
    margin-top: 15px;
}

.register-user .form-label{
    margin-top: 15px;
}

.register-user .register-form{
    border-radius: 10px;
    padding: 50px 60px;
    margin-top: 15vh;
    margin-bottom: 16vh;
    
    background-color: #002f3f;
    color: #e4edea;
    box-shadow: 1px 1px 1px #cdac81;
}

.register-user .logol img{
    width: 80px;
    margin-top: -30px;
    margin-bottom: 10px;
}
.register-user .button-end input{
    background-color: #e4edea;
    color:#002f3f;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 10px;
}
.register-user .button-end a{
    background-color: #e4edea;
    color:#002f3f;
    font-weight: 400;
}
.register-user .btn:hover{
    background-color: #cdac81;
}

.register-user #image-preview{
    display:none;
    width : 250px;
    border-radius: 50%;
}

/* home css */
.home .card{
    margin-top: 30px;
}

.home .nav-link{
    margin-right: 10px;
}
.home .nav-link:hover{
    background-color: #cdac81;
}
.home .text-center .btn{
    background-color: #e4edea;
    color: #002f3f;
    font-size: 9px;
}
.home .text-center .btn:hover{
    background-color: #cdac81;
    color: #002f3f;
    border: none;
}
.home .card-text{
    font-size: 10px;
}

.home #foot{
    background-color: #cdac81;
    color: #002f3f;
    padding: 2px;
    margin-top:50px;
    font-size: small;
    font-weight: 500;
}

.home .card-footer{
    margin-top: 3px;
}

.home .barang p{
    font-size: 10px;
}

/* user css */
.user .text-center h1{
    font-weight: 600;
    color: #e4edea;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.user .col{
    margin-top: 25px;
}

.user .user-form{
    border-radius: 10px;
    padding: 50px 60px;
    margin-top: 15vh;
    margin-bottom: 16vh;
    background-color: #002f3f;
    color: #e4edea;
}

.user .button-end .btn{
    background-color: #e4edea;
    color:#002f3f;
    font-weight: 400;
}
.user .button-end{
    margin-top: 40px;
}
.user .btn:hover{
    background-color: #cdac81;
}

/* userlist */
.userlist .judul{
    color: #002f3f;
    margin-top: 40px;
}

.userlist  .add{
    margin-top: 10px;
}
.userlist .table{
    margin-top: 50px;
}
.userlist .table th{
    color:#002f3f;
}
.table td{
    color:#002f3f;
}
.table tr{
    color:#002f3f;
}

.userlist .btn{
    background-color: #e4edea;
    color:#002f3f;
    font-weight: 400;
    font-size: 13px;
    border-color: #002f3f;
    margin: 2px;
}
.userlist .btn:hover{
    background-color: #cdac81;
}

/* user-foto */
.user-foto .text-center h1{
    font-weight: 600;
    color: #e4edea;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.user-foto .col{
    margin-top: 25px;
}

.user-foto .user-foto-form{
    border-radius: 10px;
    padding: 50px 60px;
    margin-top: 15vh;
    margin-bottom: 16vh;
    background-color: #002f3f;
    color: #e4edea;
}

.user-foto .button-end .btn{
    background-color: #e4edea;
    color:#002f3f;
    font-weight: 400;
}
.user-foto .button-end{
    margin-top: 40px;
}
.user-foto .btn:hover{
    background-color: #cdac81;
}

/* toko */
.toko .text-center h1{
    font-weight: 600;
    color: #e4edea;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.toko .col{
    margin-top: 25px;
}

.toko .toko-form{
    border-radius: 10px;
    padding: 50px 60px;
    margin-top: 15vh;
    margin-bottom: 16vh;
    background-color: #002f3f;
    color: #e4edea;
}

.toko .button-end .btn{
    background-color: #e4edea;
    color:#002f3f;
    font-weight: 400;
}
.toko .button-end{
    margin-top: 40px;
}
.toko .btn:hover{
    background-color: #cdac81;
}

/* toko-penjual css */
.toko-penjual .card{
    margin-top: 30px;
}

.toko-penjual .nav-link{
    margin-right: 10px;
}
.toko-penjual .nav-link:hover{
    background-color: #cdac81;
}
.toko-penjual .text-center .btn{
    background-color: #e4edea;
    color: #002f3f;
    font-size: 9px;
}
.toko-penjual .text-center .btn:hover{
    background-color: #cdac81;
    color: #002f3f;
    border: none;
}
.toko-penjual .card-text{
    font-size: 10px;
}

.toko-penjual #foot{
    background-color: #cdac81;
    color: #002f3f;
    padding: 2px;
    margin-top:50px;
    font-size: small;
    font-weight: 500;
}

.toko-penjual .card-footer{
    margin-top: 10px;
}

.toko-penjual .barang p{
    font-size: 10px;
}

/* toko list */
.tokolist .judul{
    color: #002f3f;
    margin-top: 40px;
}

.tokolist  .add{
    margin-top: 10px;
}

.tokolist .table{
    margin-top: 50px;
}

.tokolist .table th{
    color:#002f3f;
}

.tokolist td{
    color:#002f3f;
}

.tokolist tr{
    color:#002f3f;
}

.tokolist .btn{
    background-color: #e4edea;
    color:#002f3f;
    font-weight: 400;
    font-size: 13px;
    border-color: #002f3f;
    margin: 2px;
}

.tokolist .btn:hover{
    background-color: #cdac81;
}

/* toko-logo */
.toko-logo .text-center h1{
    font-weight: 600;
    color: #e4edea;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.toko-logo .col{
    margin-top: 25px;
}

.toko-logo .toko-logo-form{
    border-radius: 10px;
    padding: 50px 60px;
    margin-top: 15vh;
    margin-bottom: 16vh;
    background-color: #002f3f;
    color: #e4edea;
}

.toko-logo .button-end .btn{
    background-color: #e4edea;
    color:#002f3f;
    font-weight: 400;
}
.toko-logo .button-end{
    margin-top: 40px;
}
.toko-logo .btn:hover{
    background-color: #cdac81;
}

/* barang */
.barang .text-center h1{
    font-weight: 600;
    color: #e4edea;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.barang .col{
    margin-top: 25px;
}

.barang .barang-form{
    border-radius: 10px;
    padding: 50px 60px;
    margin-top: 15vh;
    margin-bottom: 16vh;
    background-color: #002f3f;
    color: #e4edea;
}

.barang .button-end .btn{
    background-color: #e4edea;
    color:#002f3f;
    font-weight: 400;
}
.barang .button-end{
    margin-top: 40px;
}
.barang .btn:hover{
    background-color: #cdac81;
}

/* barang list */
.baranglist .judul{
    color: #002f3f;
    margin-top: 40px;
}

.baranglist  .add{
    margin-top: 10px;
}

.baranglist .table{
    margin-top: 50px;
}

.baranglist .table th{
    color:#002f3f;
}

.baranglist td{
    color:#002f3f;
}

.baranglist tr{
    color:#002f3f;
}

.baranglist .btn{
    background-color: #e4edea;
    color:#002f3f;
    font-weight: 400;
    font-size: 13px;
    border-color: #002f3f;
    margin: 2px;
}

.baranglist .btn:hover{
    background-color: #cdac81;
}

/* lokasi css */
.lokasi .text-center h1{
    font-weight: 600;
    color: #e4edea;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.lokasi .col{
    margin-top: 25px;
}

.lokasi .lokasi-form{
    border-radius: 10px;
    padding: 50px 60px;
    margin-top: 15vh;
    margin-bottom: 16vh;
    background-color: #002f3f;
    color: #e4edea;
}

.lokasi .button-end .btn{
    background-color: #e4edea;
    color:#002f3f;
    font-weight: 400;
}

.lokasi .button-end{
    margin-top: 40px;
}

.lokasi .btn:hover{
    background-color: #cdac81;
}

/* lokasilist css */
.lokasilist .judul{
    color: #002f3f;
    margin-top: 40px;
}

.lokasilist  .add{
    margin-top: 10px;
}

.lokasilist .table{
    margin-top: 50px;
}

.lokasilist .table th{
    color:#002f3f;
}

.lokasilist td{
    color:#002f3f;
}

.lokasilist tr{
    color:#002f3f;
}

.lokasilist .btn{
    background-color: #e4edea;
    color:#002f3f;
    font-weight: 400;
    font-size: 13px;
    border-color: #002f3f;
    margin: 2px;
}

.lokasilist .btn:hover{
    background-color: #cdac81;
}

/* Kategori */
.kategori .text-center h1{
    font-weight: 600;
    color: #e4edea;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.kategori .col{
    margin-top: 25px;
}

.kategori .kategori-form{
    border-radius: 10px;
    padding: 50px 60px;
    margin-top: 15vh;
    margin-bottom: 16vh;
    background-color: #002f3f;
    color: #e4edea;
}

.kategori .button-end .btn{
    background-color: #e4edea;
    color:#002f3f;
    font-weight: 400;
}

.kategori .button-end{
    margin-top: 40px;
}

.kategori .btn:hover{
    background-color: #cdac81;
}

/* kategori list */
.kategorilist .judul{
    color: #002f3f;
    margin-top: 40px;
}

.kategorilist  .add{
    margin-top: 10px;
}

.kategorilist .table{
    margin-top: 50px;
}

.kategorilist .table th{
    color:#002f3f;
}

.kategorilist td{
    color:#002f3f;
}

.kategorilist tr{
    color:#002f3f;
}

.kategorilist .btn{
    background-color: #e4edea;
    color:#002f3f;
    font-weight: 400;
    font-size: 13px;
    border-color: #002f3f;
    margin: 2px;
}

.kategorilist .btn:hover{
    background-color: #cdac81;
}


/* gambar barang */
.gambar_barang .text-center h1{
    font-weight: 600;
    color: #e4edea;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.gambar_barang .col{
    margin-top: 25px;
}

.gambar_barang .gambarBarang-form{
    border-radius: 10px;
    padding: 50px 60px;
    margin-top: 15vh;
    margin-bottom: 16vh;
    background-color: #002f3f;
    color: #e4edea;
}

.gambar_barang .button-end .btn{
    background-color: #e4edea;
    color:#002f3f;
    font-weight: 400;
}

.gambar_barang .button-end{
    margin-top: 40px;
}

.gambar_barang .btn:hover{
    background-color: #cdac81;
}

/* gambar barang list */
.gambarBarangList .judul{
    color: #002f3f;
    margin-top: 40px;
}

.gambarBarangList  .add{
    margin-top: 10px;
}

.gambarBarangList .table{
    margin-top: 50px;
}

.gambarBarangList .table th{
    color:#002f3f;
}

.gambarBarangList td{
    color:#002f3f;
}

.gambarBarangList tr{
    color:#002f3f;
}

.gambarBarangList .btn{
    background-color: #e4edea;
    color:#002f3f;
    font-weight: 400;
    font-size: 13px;
    border-color: #002f3f;
    margin: 2px;
}

.gambarBarangList .btn:hover{
    background-color: #cdac81;
}

/* GALERI BISNIS */
.galeri-bisnis .judul{
    margin-top: 50px;
    margin-bottom: 0px;
}

.galeri-bisnis .search {
    margin-top: 20px;
}

.galeri-bisnis .btn:hover{
    background-color: #e4edea;
}
  
.galeri-bisnis .nav-link{
    margin-top: 40px;
    border: none;
    background-color: #e4edea;
    color:#002f3f;
}

.galeri-bisnis .nav-link:hover{
    background-color: #cdac81;
    color: #002f3f;
    font-weight: 500;
    border: none;
}
.galeri-bisnis .nav-link:active{
    background-color: #cdac81;
    color: #002f3f;
    font-weight: 500;
    border: none;
}

.galeri-bisnis .tab-content p{
    font-size: 10px;
}

.galeri-bisnis .tab-content a{
    font-size: 8px;
    background-color: #e4edea;
}

.galeri-bisnis .card{
    border-radius: 20px;
    margin-top: 10px;
    text-align: justify;
}
