.all{
    background-color: #e4edea;
    font-family: montserrat, sans-serif;
    text-transform: capitalize;
    color: #002f3f;
}

.navbar{
    background-color: #e4edea;
    top: 10px;
}

.tagline-navbar{
    font-size: smaller;
}

.collapse{
    margin-right: 20px;
}

/* log in css*/

.log-in .login-form{
    border-radius: 10px;
    padding: 50px 60px;
    margin-top: 15vh;
    margin-bottom: 16vh;
    background-color: #002f3f;
    color: #e4edea;
}

.log-in .logol img{
    width: 80px;
    margin-top: -30px;
    margin-bottom: 10px;
}
.log-in #submit-login{
    background-color: #e4edea;
}
.log-in #submit-login:hover{
    background-color: #cdac81;
}

.log-in .text-center h2{
    font-weight: 600;
    font-size: 30px;
    margin-top: 50px;
    color: #002f3f;
    text-transform: uppercase;
}

.log-in .text-center h1{
    font-weight: 600;
    color: #e4edea;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.log-in .button-end input{
    background-color: #e4edea;
    color:#002f3f;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 10px;
}
.log-in .button-end a{
    background-color: #e4edea;
    color:#002f3f;
    font-weight: 400;
}
.log-in .btn:hover{
    background-color: #cdac81;
}

/* register user css */
.register-user .text-center h1{
    font-weight: 600;
    color: #e4edea;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.register-user .username{
    margin-top: 15px;
}

.register-user .form-label{
    margin-top: 15px;
}

.register-user .register-form{
    border-radius: 10px;
    padding: 50px 60px;
    margin-top: 15vh;
    margin-bottom: 16vh;
    
    background-color: #002f3f;
    color: #e4edea;
    box-shadow: 1px 1px 1px #cdac81;
}

.register-user .logol img{
    width: 80px;
    margin-top: -30px;
    margin-bottom: 10px;
}
.register-user .button-end input{
    background-color: #e4edea;
    color:#002f3f;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 10px;
}
.register-user .button-end a{
    background-color: #e4edea;
    color:#002f3f;
    font-weight: 400;
}
.register-user .btn:hover{
    background-color: #cdac81;
}

.register-user #image-preview{
    display:none;
    width : 250px;
    border-radius: 50%;
}

/* home css */
.home .card{
    margin-top: 50px;
    
}

.home .row{
    margin-top:30px;
}

.home .nav-link{
    margin-right: 10px;
}
.home .nav-link:hover{
    background-color: #cdac81;
}
.home .text-center .btn{
    background-color: #e4edea;
    color: #002f3f;
    font-size: 9px;
}
.home .text-center .btn:hover{
    background-color: #cdac81;
    color: #002f3f;
    border: none;
}
.home .card-text{
    font-size: 13px;
}

.home .card img{
    width:20px;
}

.home #foot{
    background-color: #cdac81;
    color: #002f3f;
    padding: 2px;
    margin-top:50px;
    font-size: small;
    font-weight: 500;
}

/* Pengunjung css */
.Pengunjung .atas{
    width: 1200px;
    background-color: #D9DFDB;
    margin-top: 120px;
    margin-left: 80px;
    border-radius: 15px;
    position: absolute;
}

.Pengunjung .atas img{
    border-radius:50%; 
    height: 110px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 40px;
   
}

.Pengunjung .atas h3{
    position: absolute;
    margin-top: 25px;
    margin-left: 200px;
    font-weight: 800;
    font-size: 35px;
}

.Pengunjung .tagline-profil{
    position: absolute;
    margin-left: 200px;
    margin-top: 100px;
    font-weight: 600;
    text-transform: capitalize;
}

.Pengunjung .kategori{
    position: absolute;
    margin-left: 522px;
    margin-top: 100px;
    font-weight: 600;
    text-transform: capitalize;
}

.Pengunjung .jml-produk{
    position: absolute;
    margin-left: 500px;
    margin-top: 40px;
    font-weight: 600;
    text-transform: capitalize;
}

.Pengunjung .bawah{
    width: 1200px;
    background-color: #C4C4C4;
    margin-top: 260px;
    margin-left: 80px;
    position: absolute;
}

.Pengunjung .bawah img{
    width: 20px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.Pengunjung .bawah p{
    position: absolute;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 12px;
}

.Pengunjung .p-3{
    margin-top: 350px;
    margin-left: 0px;
}

.Pengunjung .col{
    width: 1000px;
}

.Pengunjung .col-sm .gambar-toko{
    width: 80%;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 30px;
}

/* .Pengunjung .col-sm p{
    color: #212932;
    text-align: left;
    margin-left: 30px;
    text-transform: capitalize;
    font-weight: 500;
}

.Pengunjung .col-sm h3{
    text-align: center;
    color: #212932;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.Pengunjung .satu-produk{
    background-color: #D9DFDB;
    margin-left: 25px;
    margin-bottom: 50px;
    border-radius: 30px;
    width: 300px; 
}*/

.Pengunjung .barang{
    margin-top: 370px;
    position: absolute;
    width: 1349px;
}

.Pengunjung .col-sm .pensil{
    width: 30px;
    margin-left: 250px;
    margin-bottom: 20px;
}

/* user css */
.user .text-center h1{
    font-weight: 600;
    color: #e4edea;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.user .username{
    margin-top: 15px;
}

.user .form-label{
    margin-top: 15px;
}

.user .user-form{
    border-radius: 10px;
    padding: 50px 60px;
    margin-top: 15vh;
    margin-bottom: 16vh;
    
    background-color: #002f3f;
    color: #e4edea;
    box-shadow: 1px 1px 1px #cdac81;
}

.user .logol img{
    width: 80px;
    margin-top: -30px;
    margin-bottom: 10px;
}
.user .button-end input{
    background-color: #e4edea;
    color:#002f3f;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 10px;
}
.user .button-end a{
    background-color: #e4edea;
    color:#002f3f;
    font-weight: 400;
}
.user .btn:hover{
    background-color: #cdac81;
}

/* userlist */
.userlist .judul{
    color: #002f3f;
    margin-top: 40px;
}

.userlist  .add{
    margin-top: 10px;
}
.userlist .table{
    margin-top: 50px;
}
.userlist .table th{
    color:#002f3f;
}
.table td{
    color:#002f3f;
}
.table tr{
    color:#002f3f;
}

.userlist .btn{
    background-color: #e4edea;
    color:#002f3f;
    font-weight: 400;
    border-color: #002f3f;
}
.userlist .btn:hover{
    background-color: #cdac81;
}

/* lokasi css */
.lokasi .text-center h1{
    font-weight: 600;
    color: #e4edea;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.lokasi .username{
    margin-top: 15px;
}

.lokasi .form-label{
    margin-top: 15px;
}

.lokasi .lokasi-form{
    border-radius: 10px;
    padding: 50px 60px;
    margin-top: 15vh;
    margin-bottom: 16vh;
    background-color: #002f3f;
    color: #e4edea;
    box-shadow: 1px 1px 1px #cdac81;
}
.lokasi .button-end input{
    background-color: #e4edea;
    color:#002f3f;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 10px;
}
.lokasi .button-end a{
    background-color: #e4edea;
    color:#002f3f;
    font-weight: 400;
}
.lokasi .btn:hover{
    background-color: #cdac81;
}

/* lokasilist css */
.lokasilist .judul{
    color: #002f3f;
    margin-top: 40px;
}

.lokasilist  .add{
    margin-top: 10px;
}
.lokasilist .table{
    margin-top: 50px;
}
.lokasilist .table th{
    color:#002f3f;
}

.lokasilist .btn{
    background-color: #e4edea;
    color:#002f3f;
    font-weight: 400;
    border-color: #002f3f;
}
.lokasilist .btn:hover{
    background-color: #cdac81;
}

/* Kategori */
.kategori .text-center h1{
    font-weight: 600;
    color: #e4edea;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.kategori .username{
    margin-top: 15px;
}

.kategori .form-label{
    margin-top: 15px;
}

.kategori .lokasi-form{
    border-radius: 10px;
    padding: 50px 60px;
    margin-top: 15vh;
    margin-bottom: 16vh;
    background-color: #002f3f;
    color: #e4edea;
    box-shadow: 1px 1px 1px #cdac81;
}
.kategori .button-end input{
    background-color: #e4edea;
    color:#002f3f;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 10px;
}
.kategori .button-end a{
    background-color: #e4edea;
    color:#002f3f;
    font-weight: 400;
}
.kategori .btn:hover{
    background-color: #cdac81;
}

/* kategori list */
.kategorilist .judul{
    color: #002f3f;
    margin-top: 40px;
}

.kategorilist  .add{
    margin-top: 10px;
}
.kategorilist .table{
    margin-top: 50px;
}
.kategorilist .table th{
    color:#002f3f;
}

.kategorilist .btn{
    background-color: #e4edea;
    color:#002f3f;
    font-weight: 400;
    border-color: #002f3f;
}
.kategorilist .btn:hover{
    background-color: #cdac81;
}

/* tambah produk css */
.tambahproduk{
    margin-left: 10px;
}
.tambahproduk all-form{
    width: 1054px;
    height: 1392px;
    background-color: #D9DFDB;
    margin-top: 80px;
    position: absolute;
    margin-left: 1px;
}

.tambahproduk .judul{
    margin-bottom: 90px;
}

.tambahproduk .judul p{
    text-align: center;
    margin-top: 80px;
    font-weight: 600;
    font-size: 40px;
}

.tambahproduk .input h4{
    font-weight: 600;
}



/* atas */

.tambahproduk .input{
    margin-left: 120px;
    margin-bottom: 60px;
}

.tambahproduk .input h4{
    margin-bottom: 40px;
    font-weight: 600;
}

.tambahproduk .input[name=file] {
    /* width: 246px;
    height: 189px;
    margin-left: 76px;
    align-items: center;
    background-color: white;
    border-color: black;
    border-width: medium; */
    display: none;
}


.tambahproduk .label-file{
    width: 249px;
    height: 189px;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: medium;
}

.tambahproduk .label-file img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: block;
}


/* bawah */

.tambahproduk .form-semua{
    /* margin-left: 120px; */
    font-weight: 600;
}
  
.tambahproduk .input[name=nproduk] {
    width: 615px;
    height: 62px;
    margin-left: 62px;
    align-items: center;
    background-color: #D9DFDB;
    border-color: black;
    border-width: medium;
}

.tambahproduk .textarea[name=dproduk] {
    width: 615px;
    height: 261px;
    margin-left: 200px;
    background-color: #D9DFDB;
    border-color: black;
    border-width: medium;
    margin-bottom: 25px;
    
}

.tambahproduk .input[name=harga] {
    width: 615px;
    height: 62px;
    margin-left: 129px;
    background-color: #D9DFDB;
    border-color: black;
    border-width: medium;
    margin-bottom: 25px;
}

.tambahproduk .input[name=hgrosir] {
    width: 615px;
    height: 62px;
    margin-left: 68px;
    background-color: #D9DFDB;
    border-color: black;
    border-width: medium;
    margin-bottom: 25px;
}

.tambahproduk .input[name=variasi] {
    width: 615px;
    height: 62px;
    margin-left: 122px;
    background-color: #D9DFDB;
    border-color: black;
    border-width: medium;
}

.tambahproduk .footer{
    text-align: right;
    margin-top: 50px;
    margin-right: 118px;
}

.tambahproduk .footer input{
    border-radius: 15px;
    width: 192px;
    height: 64px;
    background-color: #212932;
    color: #FFFDD6;
}

/* GALERI BISNIS */
.galeri-bisnis .judul{
    margin-top: 50px;
    margin-bottom: 0px;
}

.galeri-bisnis .search {
    margin-top: 20px;
}

.galeri-bisnis .btn:hover{
    background-color: #e4edea;
}
  
.galeri-bisnis .nav-link{
    border: none;
}

.galeri-bisnis .nav-link:hover{
    background-color: #cdac81;
    color: #002f3f;
    font-weight: 500;
    border: none;
}
.galeri-bisnis .nav-link:active{
    background-color: #cdac81;
    color: #002f3f;
    font-weight: 500;
    border: none;
}

.galeri-bisnis .card img{
    width: 300px;
    margin-top: 20px;
}
  /* .galeri-bisnis  .tab button .active {
    background-color: #cdac81;
    color: #212932;
    font-weight: 500;
    border: none;
    text-transform: capitalize;
  } */
  
  /*toko pengunjung*/
  .toko-pengunjung .card{
      background-color: #D9DFDB;
  }

  .toko-pengunjung .table{
      margin-top: 10px;
  }
  .toko-pengunjung .col-md-7 img{
    padding-top: 20px;
    width: 20px;
  }

  .toko-pengunjung .row{
    margin-left: 10px;
  }

.toko-pengunjung .col-sm .gambar-toko{
    width: 80%;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 30px;
}

.toko-pengunjung .col-sm p{
    color: #212932;
    text-align: left;
    margin-left: 10px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 10px;
}

.toko-pengunjung .col-sm h3{
    text-align: center;
    color: #212932;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.toko-pengunjung .satu-produk{
    background-color: #D9DFDB;
    margin-left: 5px;
    margin-bottom: 50px;
    padding-bottom: 15px;
    border-radius: 30px;
    width: 180px;
}

.toko-pengunjung .barang{
    margin-top: 30px;
    position: absolute;
    padding-left: 50px;
    padding-right: 50px;
    width: 1000px;
}

.toko-pengunjung #toko{
    margin-left: 30px;
    width: 300px;
    height: max-content;
}

.toko-pengunjung .barang{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*toko penjual*/
.toko-penjual .card{
    background-color: #D9DFDB;
}

.toko-penjual .table{
    margin-top: 10px;
}
.toko-penjual .col-md-7 img{
  padding-top: 20px;
  width: 20px;
}

.toko-penjual .row{
  margin-left: 10px;
}

.toko-penjual .col-sm .gambar-toko{
  width: 80%;
  margin-top: 30px;
  margin-bottom: 15px;
  margin-left: 30px;
}

.toko-penjual .col-sm p{
  color: #212932;
  text-align: left;
  margin-left: 10px;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 10px;
}

.toko-penjual .col-sm h3{
  text-align: center;
  color: #212932;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.toko-penjual .satu-produk{
  background-color: #D9DFDB;
  margin-left: 5px;
  margin-bottom: 50px;
  padding-bottom: 15px;
  border-radius: 30px;
  width: 180px;
}

.toko-penjual .barang{
  margin-top: 30px;
  position: absolute;
  padding-left: 50px;
  padding-right: 50px;
  width: 1000px;
}

.toko-penjual  #toko{
  margin-left: 30px;
  width: 300px;
  height: max-content;
}

.toko-penjual  .barang{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* toko list */
.tokolist {
    margin-top: 50px;
}

.tokolist h4{
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    color: #D9DFDB;
    padding-bottom: 20px;
}

.tokolist .table{
    color: #D9DFDB;
}

.tokolist .btn{
    background-color: #8A7D63;
    font-weight: 600;
    color: #212932;
    margin-top: 30px;
    align-items: center;
}

/* toko */
.toko .table{
    margin-left: 40px;
    color: #D9DFDB;
}

.toko h4{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: #D9DFDB;
    padding-bottom: 20px;
}

.toko .form-check{
    margin-left: 20px;
    size: 200%;
}

.toko .btn{
    background-color: #8A7D63;
    margin-top: 70px;
}

.toko input{
    width: 500px;
}
/* toko list */
.tokolist {
    margin-top: 50px;
}

.tokolist h4{
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    color: #D9DFDB;
    padding-bottom: 20px;
}

.tokolist .table{
    color: #D9DFDB;
    margin-top: 100px;
}

.tokolist .btn{
    background-color: #8A7D63;
    font-weight: 600;
    color: #212932;
    margin-top: 30px;
    align-items: center;
}

/* atas */

.ufile{
    text-align: center;
}

.ufile p{
    margin-top: 10px;
    font-weight: 350;
    font-size: 16x;
}

.input{
    /* margin-left: 120px; */
    margin-bottom: 60px;
    text-align: center;
}

.input h4{
    margin-bottom: 40px;
    font-weight: 600;
    text-align: center;
    
}

input[name=file] {
    /* width: 246px;
    height: 189px;
    margin-left: 76px;
    align-items: center;
    background-color: white;
    border-color: black;
    border-width: medium; */
    display: none;
}


.label-file{
    width: 225px;
    height: 230px;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: medium;
    border-radius: 50%;
}

/* bawah */



.form-semua{
    /* margin-left: 120px; */
    font-weight: 600;
}

.footer{
    text-align: right;
    margin-top: 50px;
   
   

}

.footer input{
    border-radius: 15px;
    width: 192px;
    height: 64px;
    background-color: #212932;
    color: #FFFDD6;
}