.all{
    background-color: #212932;
    font-family: montserrat, sans-serif;
}

.header .navbar{
    background-color: #8A7D63;
    box-shadow: 0 5px 10px #8A7D63;
    top: 20px;
}

.nav-item{
    margin-left: 15px;
}

/* home css */
.Home{
    margin-top: 130px;
    margin-left: 150px;
    color: #D9DFDB;
}

.Home h5{
    text-transform: capitalize;
    font-weight: 300;
    font-size: 20px;
}

.Home h1{
    font-weight: 700;
    font-size: 90px;
    padding-bottom: 0px;
    letter-spacing: 2%;
}

.Home .tagline-main{
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 400;
}

.Home .tekan{
    margin-top: 70px;   
}

.Home .tekan button{
    background-color: #8A7D63;
    width: 150px;
    height: 50px;
    color: #D9DFDB;
    font-weight: 800;
    border-radius: 40px;
    border: none;
    margin-left: 250px;
}

/* Pengunjung css */
.Pengunjung .atas{
    width: 1200px;
    background-color: #D9DFDB;
    margin-top: 120px;
    margin-left: 80px;
    border-radius: 15px;
    position: absolute;
}

.Pengunjung .atas img{
    border-radius:50%; 
    height: 110px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 40px;
   
}

.Pengunjung .atas h3{
    position: absolute;
    margin-top: 25px;
    margin-left: 200px;
    font-weight: 800;
    font-size: 35px;
}

.Pengunjung .tagline-profil{
    position: absolute;
    margin-left: 200px;
    margin-top: 100px;
    font-weight: 600;
    text-transform: capitalize;
}

.Pengunjung .kategori{
    position: absolute;
    margin-left: 522px;
    margin-top: 100px;
    font-weight: 600;
    text-transform: capitalize;
}

.Pengunjung .jml-produk{
    position: absolute;
    margin-left: 500px;
    margin-top: 40px;
    font-weight: 600;
    text-transform: capitalize;
}

.Pengunjung .bawah{
    width: 1200px;
    background-color: #C4C4C4;
    margin-top: 260px;
    margin-left: 80px;
    position: absolute;
}

.Pengunjung .bawah img{
    width: 20px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.Pengunjung .bawah p{
    position: absolute;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 12px;
}

.Pengunjung .p-3{
    margin-top: 350px;
    margin-left: 0px;
}

.Pengunjung .col{
    width: 1000px;
}

.Pengunjung .col-sm .gambar-toko{
    width: 80%;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 30px;
}

/* .Pengunjung .col-sm p{
    color: #212932;
    text-align: left;
    margin-left: 30px;
    text-transform: capitalize;
    font-weight: 500;
}

.Pengunjung .col-sm h3{
    text-align: center;
    color: #212932;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.Pengunjung .satu-produk{
    background-color: #D9DFDB;
    margin-left: 25px;
    margin-bottom: 50px;
    border-radius: 30px;
    width: 300px; 
}*/

.Pengunjung .barang{
    margin-top: 370px;
    position: absolute;
    width: 1349px;
}

.Pengunjung .col-sm .pensil{
    width: 30px;
    margin-left: 250px;
    margin-bottom: 20px;
}

/* tambah produk css */
.tambahproduk{
    margin-left: 10px;
}
.tambahproduk all-form{
    width: 1054px;
    height: 1392px;
    background-color: #D9DFDB;
    margin-top: 80px;
    position: absolute;
    margin-left: 1px;
}

.tambahproduk .judul{
    margin-bottom: 90px;
}

.tambahproduk .judul p{
    text-align: center;
    margin-top: 80px;
    font-weight: 600;
    font-size: 40px;
}

.tambahproduk .input h4{
    font-weight: 600;
}



/* atas */

.tambahproduk .input{
    margin-left: 120px;
    margin-bottom: 60px;
}

.tambahproduk .input h4{
    margin-bottom: 40px;
    font-weight: 600;
}

.tambahproduk .input[name=file] {
    /* width: 246px;
    height: 189px;
    margin-left: 76px;
    align-items: center;
    background-color: white;
    border-color: black;
    border-width: medium; */
    display: none;
}


.tambahproduk .label-file{
    width: 249px;
    height: 189px;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: medium;
}

.tambahproduk .label-file img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: block;
}


/* bawah */

.tambahproduk .form-semua{
    /* margin-left: 120px; */
    font-weight: 600;
}
  
.tambahproduk .input[name=nproduk] {
    width: 615px;
    height: 62px;
    margin-left: 62px;
    align-items: center;
    background-color: #D9DFDB;
    border-color: black;
    border-width: medium;
}

.tambahproduk .textarea[name=dproduk] {
    width: 615px;
    height: 261px;
    margin-left: 200px;
    background-color: #D9DFDB;
    border-color: black;
    border-width: medium;
    margin-bottom: 25px;
    
}

.tambahproduk .input[name=harga] {
    width: 615px;
    height: 62px;
    margin-left: 129px;
    background-color: #D9DFDB;
    border-color: black;
    border-width: medium;
    margin-bottom: 25px;
}

.tambahproduk .input[name=hgrosir] {
    width: 615px;
    height: 62px;
    margin-left: 68px;
    background-color: #D9DFDB;
    border-color: black;
    border-width: medium;
    margin-bottom: 25px;
}

.tambahproduk .input[name=variasi] {
    width: 615px;
    height: 62px;
    margin-left: 122px;
    background-color: #D9DFDB;
    border-color: black;
    border-width: medium;
}

.tambahproduk .footer{
    text-align: right;
    margin-top: 50px;
    margin-right: 118px;
}

.tambahproduk .footer input{
    border-radius: 15px;
    width: 192px;
    height: 64px;
    background-color: #212932;
    color: #FFFDD6;
}

/* GALERI BISNIS */
.galeri-bisnis .judul{
    margin-top: 50px;
    margin-bottom: 0px;
}

.galeri-bisnis h2{
    font-weight: 600;
    font-size: 40px;
    color: #D9DFDB;
    text-transform: uppercase;
    text-align: center;
}
.galeri-bisnis .d-flex{
    margin-top: 200px;
    margin-bottom: 10px;
    width: 400px;
}

.d-flex button{
    border: none;
}

.galeri-bisnis .d-flex img{
    width: 30px;
}

.galeri-bisnis .d-flex button{
    border: none;
}
  
.galeri-bisnis .nav-link{
    border: none;
}

  .galeri-bisnis .nav-link:hover{
    background-color: #8A7D63;
    color: #212932;
    font-weight: 500;
    text-transform: capitalize;
    border: none;
  }

  .galeri-bisnis .nav-link{
    background-color: #212932;
    color: #8A7D63;
    font-weight: 500;
    text-transform: capitalize;
    border: none;
  }
  
  .galeri-bisnis   .tab button.active {
    background-color: #ccc;
    color: #212932;
    font-weight: 500;
    border: none;
    text-transform: capitalize;
  }
  
  .galeri-bisnis   .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  
  .galeri-bisnis p{
      color: black;
  }
  
  .galeri-bisnis .p-3{
      background-color: #545454;
      width: 150px;
      height: 70px;
      margin-left: 10px;
      text-decoration-line: none;
      text-align: center;
      border-color: #E8CB92;
  }
  
  .galeri-bisnis .p-3 a{
      color: #E8CB92;
      text-transform: capitalize;
      font-weight: 600;
      text-decoration: none;
      text-align: center;
  }
  
  .galeri-bisnis .fnb{
      font-size: 12px;
  }
  
  .galeri-bisnis .col button{
      width: 120px;
      height: 50px;
      padding-top: 0px;
      background-color: #8A7D63;
      margin-top: 55px; 
      color: white;
      text-transform: capitalize;
      font-weight: 500;
  }
  
  .galeri-bisnis .p-3{
      background-color: #212932;
  }
  
  .galeri-bisnis .populer{
      background-color: #8A7D63;
      margin-top: 70px;
  }
  
  .galeri-bisnis .populer .btn{
      margin-left:400px;
  }
  .galeri-bisnis .populer h3{
      text-align: center;
      text-transform: uppercase;
      color: #8A7D63;
      font-weight: 600;
      padding-top: 20px;
  }
  
   .galeri-bisnis .tab-content{
      border: none;
  }
  
  .galeri-bisnis .tab-content p{
      margin-left:8px;
      color: #212932;
      font-size: 10px;
  }
  .galeri-bisnis .tab-content h3{
      margin-left:5px;
      color: #212932;
      text-align: center;
      font-weight: 700;
      text-transform: capitalize;
      font-size: 22px;
  }
  
  .galeri-bisnis .tab-content .btn{
      background-color: #8A7D63;
      width: 190px;
      margin-top: 35px;
      margin-left: 60px;
      margin-bottom: 20px;
      border-radius: 30px;
  }
  
  .galeri-bisnis .btn p{
      color: #212932;
      text-align: left;
      font-weight: 500;
      text-transform: capitalize;
  }
   */
  .galeri-bisnis .gambar-toko{
      width: 90%;
      margin-top: 13px;
      margin-bottom: 10px;
  }
  
  .galeri-bisnis .telfon{
      width: 15%;
      margin-left: 115px;
      padding-bottom: 15px;
  }
  
  .galeri-bisnis .populer .btn{
      width: 90px;
      margin-left: 150px;
      margin-top: 30px;
      margin-bottom: 40px;
  }
  
  .galeri-bisnis .populer h5{
      color: #212932;
      font-size: 10px;
      text-transform: capitalize;
      padding-bottom: 2px;
      margin-top: 10px;
      font-weight: 600;
  }
  .galeri-bisnis .gambar-toko{
      width: 80%;
      margin-top: 10px;
  }
  
  .galeri-bisnis .populer h3{
      margin-left:5px;
      color: #212932;
      text-align: center;
      font-weight: 700;
      text-transform: capitalize;
      font-size: 40px;
  }

  .galeri-bisnis .nav-tabs{
    margin-top: 35px;
    margin-bottom: 20px;
    padding-left: 40px;
    color: #212932;
    font-size: 15px;
    border: none;
  }

  /*toko pengunjung*/
  .toko-pengunjung .card{
      background-color: #D9DFDB;
  }

  .toko-pengunjung .table{
      margin-top: 10px;
  }
  .toko-pengunjung .col-md-7 img{
    padding-top: 20px;
    width: 20px;
  }

  .toko-pengunjung .row{
    margin-left: 10px;
  }

.toko-pengunjung .col-sm .gambar-toko{
    width: 80%;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 30px;
}

.toko-pengunjung .col-sm p{
    color: #212932;
    text-align: left;
    margin-left: 10px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 10px;
}

.toko-pengunjung .col-sm h3{
    text-align: center;
    color: #212932;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.toko-pengunjung .satu-produk{
    background-color: #D9DFDB;
    margin-left: 5px;
    margin-bottom: 50px;
    padding-bottom: 15px;
    border-radius: 30px;
    width: 180px;
}

.toko-pengunjung .barang{
    margin-top: 30px;
    position: absolute;
    padding-left: 50px;
    padding-right: 50px;
    width: 1000px;
}

.toko-pengunjung #toko{
    margin-left: 30px;
    width: 300px;
    height: max-content;
}

.toko-pengunjung .barang{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*toko penjual*/
.toko-penjual .card{
    background-color: #D9DFDB;
}

.toko-penjual .table{
    margin-top: 10px;
}
.toko-penjual .col-md-7 img{
  padding-top: 20px;
  width: 20px;
}

.toko-penjual .row{
  margin-left: 10px;
}

.toko-penjual .col-sm .gambar-toko{
  width: 80%;
  margin-top: 30px;
  margin-bottom: 15px;
  margin-left: 30px;
}

.toko-penjual .col-sm p{
  color: #212932;
  text-align: left;
  margin-left: 10px;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 10px;
}

.toko-penjual .col-sm h3{
  text-align: center;
  color: #212932;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.toko-penjual .satu-produk{
  background-color: #D9DFDB;
  margin-left: 5px;
  margin-bottom: 50px;
  padding-bottom: 15px;
  border-radius: 30px;
  width: 180px;
}

.toko-penjual .barang{
  margin-top: 30px;
  position: absolute;
  padding-left: 50px;
  padding-right: 50px;
  width: 1000px;
}

.toko-penjual  #toko{
  margin-left: 30px;
  width: 300px;
  height: max-content;
}

.toko-penjual  .barang{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* toko list */
.tokolist {
    margin-top: 50px;
}

.tokolist h4{
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    color: #D9DFDB;
    padding-bottom: 20px;
}

.tokolist .table{
    color: #D9DFDB;
}

.tokolist .btn{
    background-color: #8A7D63;
    font-weight: 600;
    color: #212932;
    margin-top: 30px;
    align-items: center;
}

/* toko */
.toko .table{
    margin-left: 40px;
    color: #D9DFDB;
}

.toko h4{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: #D9DFDB;
    padding-bottom: 20px;
}

.toko .form-check{
    margin-left: 20px;
    size: 200%;
}

.toko .btn{
    background-color: #8A7D63;
    margin-top: 70px;
}

.toko input{
    width: 500px;
}
/* toko list */
.tokolist {
    margin-top: 50px;
}

.tokolist h4{
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    color: #D9DFDB;
    padding-bottom: 20px;
}

.tokolist .table{
    color: #D9DFDB;
    margin-top: 100px;
}

.tokolist .btn{
    background-color: #8A7D63;
    font-weight: 600;
    color: #212932;
    margin-top: 30px;
    align-items: center;
}

/* Kategori */
.kategori .table{
    margin-left: 40px;
    color: #D9DFDB;
}

.kategori h4{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: #D9DFDB;
    padding-bottom: 20px;
}

.kategori .form-check{
    margin-left: 20px;
    size: 200%;
}

.kategori .btn{
    background-color: #8A7D63;
    margin-top: 70px;
}

.kategori input{
    width: 500px;
}
/* kategori list */
.kategorilist {
    margin-top: 50px;
}

.kategorilist h4{
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    color: #D9DFDB;
    padding-bottom: 20px;
}

.kategorilist .table{
    color: #D9DFDB;
    margin-top: 100px;
}

.kategorilist .btn{
    background-color: #8A7D63;
    font-weight: 600;
    color: #212932;
    margin-top: 30px;
    align-items: center;
}
/* user */

/* info penjual */
.main{
    height: 2000px;
    /*width: 1000px;*/
    margin-top: 100px;
    /*background-color: yellow;*/
    width: 100%;
    display: flex;
    justify-content: center;
}

.all-form{
    width: 1292px;
    /* height: 2000px; */
    background-color: #D9DFDB;
    text-align: center;
}

.judul{
    margin-bottom: 90px;
}

.judul p{
    text-align: center;
    margin-top: 80px;
    font-weight: 600;
    font-size: 40px;
}

.input h4{
    font-weight: 600;
}

.main-form{
    width: 700.25px;
    margin: auto;
}



/* atas */

.ufile{
    text-align: center;
}

.ufile p{
    margin-top: 10px;
    font-weight: 350;
    font-size: 16x;
}

.input{
    /* margin-left: 120px; */
    margin-bottom: 60px;
    text-align: center;
}

.input h4{
    margin-bottom: 40px;
    font-weight: 600;
    text-align: center;
    
}

input[name=file] {
    /* width: 246px;
    height: 189px;
    margin-left: 76px;
    align-items: center;
    background-color: white;
    border-color: black;
    border-width: medium; */
    display: none;
}


.label-file{
    width: 225px;
    height: 230px;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: medium;
    border-radius: 50%;
}

/* bawah */



.form-semua{
    /* margin-left: 120px; */
    font-weight: 600;
}

.footer{
    text-align: right;
    margin-top: 50px;
   
   

}

.footer input{
    border-radius: 15px;
    width: 192px;
    height: 64px;
    background-color: #212932;
    color: #FFFDD6;
}